@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');

body{
  font-family: 'Montserrat', sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul{
  list-style: none;
  margin:15px;
  padding:0;
}

li{
  margin:0;
  padding:0;
}

.header h1 {
  color: #FF6347;
  text-transform: uppercase;
  text-align: center;
  font-size: 3rem;
  font-weight: 300;
  letter-spacing: 3px;
  position: relative;
  display:flex;
  justify-content: center;
  display: block;
}

.header h1::before,
.header h1::after {
  content: '';
  display: block;
  height: 4px;
  width: 2rem;
  background-color: #FF6347;
  position: absolute;
  top: calc(50% - 1px);
}

.header h1::before {
  left: 3%;
}

.header h1::after {
  right: 3%;
}

.food{
  list-style: none;
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 5%
}

.recipe p{
  color:  #8B4513;
  font-size: 20px;
  text-align: center;
  font-weight: 400;
}

.recipe h3{
  color:  #FFA500 ;
  font-size: 15px;
  text-align: start;
  font-weight: 400;
}

.container, .edit-delete-buttons{
display: flex;
justify-content: center;
align-items: center;
}

.edit-delete-buttons{
  margin:10px;
}

button{
  background-color:  #FFF8DC;
  color: #343a40;
  padding: 10px;
  border: none;
  border-radius: 7px;
  font-weight: bold;
  cursor: pointer;
  transition: 0.3s;
}

button:hover {
  background-color:  #D3E1AB;
}

.recipe-description{
background-color: #FDF5E6;
padding:10px;
margin:10px;
}

.recipe-description img{
  width: 100%;
  margin-top:20%;
}

.recipe-description h5{
  color:  #887551 ;
  font-size: 15px;
  text-align: start;
  font-weight: 400;
}