@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap");

body {
  font-family: "Montserrat", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul {
  list-style: none;
  margin: 15px;
  padding: 0;
}

li {
  margin: 0;
  padding: 0;
}

.header h1 {
  color: #ff6347;
  text-transform: uppercase;
  text-align: center;
  font-size: 3rem;
  font-weight: 300;
  letter-spacing: 3px;
  position: relative;
  display: flex;
  justify-content: center;
  display: block;
}

.header h1::before,
.header h1::after {
  content: "";
  display: block;
  height: 4px;
  width: 2rem;
  background-color: #ff6347;
  position: absolute;
  top: calc(50% - 1px);
}

.header h1::before {
  left: 3%;
}

.header h1::after {
  right: 3%;
}

.line, .arrow{
  position:absolute;
  filter: invert(1);
  width:40px;
  transform: rotate(35deg);
  transition: 0.4s;
  right:20%;
}

.arrow{
  transform: rotate(70deg);
  right:15%;
  transition: 0.4s;
}

.button{
  background: none;
  border: none;
  color: #ff6347;
  padding: 5px;
  font-size: 15px;
  font-weight: bold;
  cursor: pointer;
  text-transform: uppercase;
  letter-spacing: 2px;
  transition: 0.3s;
}

.form-add-recipe {
  padding: 10px;
  margin:0px 90px;
  background-color: #f9c1b8;
  transition: 0.3s;
}

input,select {
  position: block;
  padding: 10px;
  text-align: center;
  border: 1px solid  #f9c1b8;
  border-radius: 4px;
  transition: 0.3s;
}

.recipe-description-input{
  position: block;
  padding: 22px 10px;
  text-align: center;
  border: 1px solid  #f9c1b8;
  border-radius: 4px;
  transition: 0.3s;
}

.submit-button{
  background: none;
  border:1px solid  #ff6347;
  color: #ff6347;
  border-radius: 7px;
  margin-top:10px;
  padding: 5px;
  font-weight: bold;
  cursor: pointer;
  text-transform: uppercase;
  letter-spacing: 3px;
  transition: 0.3s;
}

.recipe{
display: grid;
margin-bottom:20px;
}

.recipe p {
  color: #8b4513;
  margin-bottom:-10px;
  font-size: 20px;
  text-align: center;
  font-weight: 400;
}

.recipe h3 {
  color: #ffa500;
  font-size: 15px;
  text-align: center;
  font-weight: 400;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.button-1 {
  background-color: #fff8dc;
  color: #343a40;
  padding: 10px;
  border: none;
  border-radius: 7px;
  font-weight: bold;
  cursor: pointer;
  transition: 0.3s;
}

.button-1:hover, .button-1:active {
  background-color: #d3e1ab;
}

.active{
  background-color: #d3e1ab;
  color: #343a40;
  padding: 10px;
  border: none;
  border-radius: 7px;
  font-weight: bold;
  cursor: pointer;
  transition: 0.3s;

}

.button-2 {
  border: none;
  background: none;
  color: #ff6347;
  padding: 10px;
  font-weight: bold;
  font-size: 18px;
  cursor: pointer;
  transition: 0.3s;
}

.button-2:hover {
  color: #ef3514;
}

.recipe-description {
  background-color: #fdf5e6;
  padding: 10px;
  margin: 10px;
}

.recipe-description img {
  max-width: 80%;
  display: block;
  margin: 0 auto;
}

.recipe-description h5 {
  color: #887551;
  font-size: 15px;
  text-align: center;
  font-weight: 400;
}

/* For Medium Devices */
@media screen and (min-width: 576px){
  .header h1 {
    font-size: 3.5rem;
    letter-spacing: 4px;
  }
  
  .header h1::before,
  .header h1::after {
    height: 5px;
    width: 5rem;
  }
  
  .header h1::before {
    left: 25%;
  }
  
  .header h1::after {
    right: 25%;
  }
  
  .arrow{
    width:45px;
    right:37%;
    top:26%;
  }
  
  .button{
    padding: 15px;
    font-size: 25px;
    letter-spacing: 3px;
  }
  
  .form-add-recipe{
    display:grid;
    grid-template-columns: repeat(4, 1fr);
    row-gap: 5%;
    padding: 25px;
    place-items: center;
    border-radius: 7px;
  }

  .submit-button{
    grid-column: 4/4;
    grid-row: 3/4;
    width:60%;
    padding: 15px 0;
  }
  
  .recipe p {
    font-size: 26px;
    font-weight: bold;
    font-style: italic;
  }
  
  .recipe h3 {
    font-size: 20px;
  }
  
  .button-1 {
    padding: 18px;
  }
  
  .active{
    padding: 18px;
  }
  
  .button-2 {
    padding: 15px;
    font-size: 24px;
  }
  
  .recipe-description {
    padding: 30px;
    max-width: 40%;
    display: block;
    margin: 10px auto;
  }
  
  .recipe-description img {
    
    max-width: 30%;
    display: block;
    margin: 0 auto;
  }
  
  .recipe-description h5 {
    font-size: 18px;
  }

}